.header {
	display: flex;
	padding: 7px 20px;
	align-items: center;
	column-gap: 40px;
	background-color: #fff;
}
.title {
	margin-left: 10px;
	flex: 1 0 auto;
	&_gray {
		color: #8c8c8c;
		cursor: pointer;
	}
	&_black {
		color: #000;
		margin-left: 10px;
	}
}
.controls {
	display: flex;
	align-items: center;
	button {
		margin-right: 20px;
	}
	.user {
		margin-left: 40px;
		margin-right: 5px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 0px;
		width: 40px;
		height: 40px;
		background: #f4f4f4;
		border-radius: 5px;
	}
}
