.wrapper {
	margin: 16px;
	background-color: #fff;
	padding: 7px 14px 14px;
	height: 100%;
	a {
		background-color: #5c5b5b;
		color: #fff;
		padding: 5px 15px;
		text-decoration: none;
		display: block;
		max-width: 40px;
		margin: 40px auto 0;
	}
}
.header {
	height: 40px;
	padding: 7px 14px;
	border-radius: 5px 5px 0px 0px;
	background: #fafafa;
	border: 1px solid #eaeaea;
	display: flex;
	column-gap: 14px;
	align-items: center;
	.title {
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		display: flex;
		align-items: center;
		color: #000000;
	}
}
.legend {
	display: flex;
	justify-content: flex-end;
	column-gap: 20px;
	align-items: center;
	margin: 16px 0;
	&__item {
		display: flex;
		column-gap: 8px;
		align-items: center;
		&_warning {
			display: inline-block;
			width: 12px;
			height: 12px;
			background: #f9a823;
			border-radius: 2px;
		}
		&_danger {
			display: inline-block;
			width: 12px;
			height: 12px;
			background: #e32112;
			border-radius: 2px;
		}
		&_icon {
			display: flex;
			align-items: center;
			font-weight: 375;
			font-size: 13px;
			line-height: 15px;
			color: #2b2b2a;
		}
		&_title {
			font-weight: 300;
			font-size: 13px;
			line-height: 15px;
			color: #2b2b2a;
		}
	}
}
.body {
	display: flex;
	justify-content: space-between;
	&__item {
		&_title {
			padding: 10px 20px;
			height: 20px;
			background: #f4f4f4;
			border-radius: 4px 4px 0px 0px;
			font-weight: 375;
			font-size: 15px;
			line-height: 20px;
			text-transform: capitalize;
			color: #6e6e6d;
			display: flex;
			align-items: center;
			margin: 0;
			margin-bottom: 10px;
		}
	}
	.exhausters {
		display: flex;
		column-gap: 10px;
	}
}
