.wrapper {
	margin: 16px;
	background-color: #fff;
	padding: 7px 14px;
	a {
		background-color: #5c5b5b;
		color: #fff;
		padding: 5px 15px;
		text-decoration: none;
		display: block;
		max-width: 40px;
		margin: 40px auto 0;
	}
}
.header {
	height: 40px;
	padding: 7px 14px;
	border-radius: 5px 5px 0px 0px;
	background: #fafafa;
	border: 1px solid #eaeaea;
	display: flex;
	column-gap: 14px;
	align-items: center;
	.title {
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		display: flex;
		align-items: center;
		color: #000000;
	}
}
.body {
	display: flex;
	column-gap: 49px;
	&__item {
		&_title {
			padding: 10px 20px;
			height: 20px;
			background: #f4f4f4;
			border-radius: 4px 4px 0px 0px;
			font-weight: 375;
			font-size: 15px;
			line-height: 20px;
			text-transform: capitalize;
			color: #6e6e6d;
			display: flex;
			align-items: center;
			margin-bottom: 10px;
		}
	}
	.exhausters {
		display: flex;
		column-gap: 10px;
	}
}
