.wrapper {
	width: 500px;
	display: flex;
	flex-direction: column;
	.mainTitle {
		display: flex;
		justify-content: space-between;
		max-width: 300px;
		margin-bottom: 10px;
	}
	.mainList {
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		height: 100%;
		row-gap: 5px;
		.mainListItem {
			max-height: 28px;
			overflow: hidden;
		}
		.opened {
			max-height: 100%;
		}
	}
	.secondaryList {
		padding-left: 20px;
		margin: 0;
		display: flex;
		flex-direction: column;
		.listItem {
			display: flex;
			width: 250px;
			column-gap: 10px;
			justify-content: space-between;
			font-weight: 375;
			font-size: 13px;
			line-height: 15px;
			color: #000000;
			cursor: pointer;
			padding: 5px;
			max-height: 28px;
			margin-bottom: 5px;
			background: #fafafa;
			border: 1px solid #efefef;
			border-radius: 3px;
			display: flex;
			justify-content: space-between;
			input,
			span {
				flex-grow: 1;
				flex-shrink: 0;
			}
			input {
				flex-grow: 0;
				flex-shrink: 1;
			}
		}
	}
	.title {
		margin: 0;
		cursor: pointer;
		padding: 5px;
		max-height: 28px;
		margin-bottom: 5px;
		background: #fafafa;
		border: 1px solid #efefef;
		border-radius: 3px;
		display: flex;
		justify-content: space-between;
		.label {
			font-weight: 375;
			font-size: 13px;
			line-height: 15px;
			color: #000000;
			margin: 0;
		}
	}
	.count {
		flex-grow: 0;
		flex-shrink: 1;
		text-align: right;
	}
}
